.home-container {
  padding: 2rem;
  text-align: center;
}

.pokemon-title {
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 5rem;
  color: #ffcb05;
  text-shadow:
    -2px -2px 0 #3d7dca,
    2px -2px 0 #3d7dca,
    -2px 2px 0 #3d7dca,
    2px 2px 0 #3d7dca,
    -2px 0 0 #3d7dca,
    2px 0 0 #3d7dca,
    0 -2px 0 #3d7dca,
    0 2px 0 #3d7dca,
    -3px -3px 0 #3d7dca,
    3px -3px 0 #3d7dca,
    -3px 3px 0 #3d7dca,
    3px 3px 0 #3d7dca,
    4px 4px 15px rgba(0, 0, 0, 0.6);
  -webkit-text-fill-color: #ffcb05;
  margin: 0 0 5rem 0;
}

.pokemon-subtitle {
  font-family: 'Pokemon Solid', sans-serif;
  color: #ffcb05;
  text-shadow:
    -2px -2px 0 #3d7dca,
    2px -2px 0 #3d7dca,
    -2px 2px 0 #3d7dca,
    2px 2px 0 #3d7dca,
    -2px 0 0 #3d7dca,
    2px 0 0 #3d7dca,
    0 -2px 0 #3d7dca,
    0 2px 0 #3d7dca,
    -3px -3px 0 #3d7dca,
    3px -3px 0 #3d7dca,
    -3px 3px 0 #3d7dca,
    3px 3px 0 #3d7dca;
  -webkit-text-fill-color: #ffcb05;
  margin: 0 0.5rem 0 0.5rem;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.button-container {
  margin-top: 2rem;
}

.button-container + .button-container {
  margin-top: 1rem;
}
